script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
script src="https://ttv-api.s3.amazonaws.com/twitch.min.js" 

javascript:
  $(window).ready(function() {
    Twitch.init({clientId: 'tmlmkrn3si82qjcepi6gjjv6vcb9bns'}, function(error, status) {
      
      $.show_msg = function(text, section){
        $(section).text(text);
        $(section).show();
      }      

      $.urlParam = function(name){
      	var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
      	if (!results) { return 0; }
      	return results[1] || 0;
      }
          
      if (!error) {
        error = $.urlParam('error');
      }

      if (error) {
        document.title = "Twacker Error";
        $.show_msg(error, '#error');
      }
      else
      {
        if (status.authenticated) {
          Twitch.logout();
        }

        if (document.referrer == "")
        {
          window.location.replace("http://twitch.tv/logout");
        }
        else {
          document.title = "Twacker Logged Out";
          $.show_msg("You have been completely logged out", '#notice');
        }
      }
    });
  });