$font_color:  #333;

$about_bg:    #fff;
$error_bg:    #f66;
$notice_bg:   #eec;
$oauth_bg:    #fff;
$page_bg:     #343;

$margin:      40px;
$padding:     20px;
$radius:      5px;
$width:       400px;

@mixin border-radius() {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background: $page_bg;
  color: $font_color;
  font-family: sans-serif;
}

.default {
  @include border-radius();
  margin: $margin auto;
  padding: $padding;
  width: $width;
}

.hidden {
  display: none;
}

#about {
  @extend .default;
  background: $about_bg;    
}

#description {
  font-size: 1em;
  font-weight: 300;
}

#error {
  @extend .default;
  background: $error_bg;
  color: white;
  height: 1em;
  text-align: center;
  text-transform: uppercase;
}

#notice {
  @extend .default;
  background: $notice_bg;
  text-align: center;
}

#oauth {
  @extend .default;
  background: $oauth_bg;
  text-align: center;
}

#subtitle {
  font-size: 1.25em;
  font-weight: 400;
}

#title {
  font-size: 2.5em;
  font-weight: 700;
}