$base_color: #fff;
$background: $base_color - #777;
$foreground: $base_color - #000;
$font_color: #666;
$notice_background: #c33;

$width: 400px;
$margin: 40px;
$padding: 20px;

body {
  background: $background;
  font-family: 'Open Sans', sans-serif;
  color: $font_color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
} 

.default {
  width: $width;
  margin: $margin auto;
  padding: $padding;
  @include border-radius(5px);
  text-align: center;
}

#content {
  @extend .default;
  background: $foreground;
}

#title {
  font-size: 2.5em;
  font-weight: 700;
}

#subtitle {
  font-size: 1.25em;
  font-weight: 400;
}

#description {
  font-size: 1em;
  font-weight: 300;
}

#oauth_key {
}

#error {
  @extend .default;
  color: white;
  background: $notice_background;
  text-transform: uppercase;
}

.hidden {
  display: none;
}