#oauth_key

script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
script src="https://ttv-api.s3.amazonaws.com/twitch.min.js" 

javascript:

  $.urlParam = function(name){
  	var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
  	if (!results) { return 0; }
  	return results[1] || 0;
  }

  Twitch.init({clientId: 'tmlmkrn3si82qjcepi6gjjv6vcb9bns'}, function(error, status) {

    if (!error) {
      error = $.urlParam('error');
    }

    if (error) {
      show(error, '#error');
    }
    else {
      if (status.authenticated) {
        var token = Twitch.getToken();
        $('#oauth_key').text("oauth:" + token);
      }
      else {
        show('logging in', '#notice');
        Twitch.login({
          scope: ['chat_login']
        });
      }
    }
  });

  show = function(text, section){
    $('#content').hide();
    $(section).text(text);
    $(section).show();  
  }