#oauth

script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
script src="https://ttv-api.s3.amazonaws.com/twitch.min.js" 

javascript:

  $.show_msg = function(text, section){
    $('#oauth').hide();
    $(section).text(text);
    $(section).show();
  }

  $.urlParam = function(name){
  	var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
  	if (!results) { return 0; }
  	return results[1] || 0;
  }

  Twitch.init({clientId: 'tmlmkrn3si82qjcepi6gjjv6vcb9bns'}, function(error, status) {

    if (!error) {
      error = $.urlParam('error');
    }

    if (error) {
      $.show_msg(error, '#error');
    }
    else {
      if (status.authenticated) {
        var token = Twitch.getToken();
        $('#notice').text('Your OAuth password is:');
        $('#notice').show();
        $('#oauth').text("oauth:" + token);
        Twitch.logout();
      }
      else {
        $.show_msg('logging in', '#notice');
        Twitch.login({
          scope: ['chat_login', 'channel_subscriptions', 'user_subscriptions', 'channel_check_subscription']
        });
      }
    }
  });
